body{font-family:"montserret";
}



#title{background-color:#ff4c68;
padding:3% 15% 12%;
color:#fff;}

h1{font-family: 'Montserrat', sans-serif;
font-size:3.5rem;
line-height:1.5;}

.container-fluid{}

.navbar {padding-bottom:4.5rem;}

.navbar-brand{font-family:ubuntu;
font-size:2rem;
font-weight:bold;}

.download-button{margin:5% 3% 5% 0;}

h1{color:red;
padding-bottom:10%;
font-family:montserret;
font-color:white;}
.nav-item{padding-bottom:10%; }

.iphone{width:60%;
transform:rotate(25deg);
position:absolute;
left:10%;
margin-bottom:50px;}

#features{padding:9% 15%;
background-color:#fff;
position:relative;
}
.feature-box{text-align:center;
padding:4.5%;}

h3{font-family:"montserret-bold";}

p{color:#8f8f8f;}

.icons{
color:#ef8172;
margin-bottom:1rem;}

.icons:hover{color:#ff4c68;}

#testimonials{padding:7% 15%;
text-align:center;
background-color:#ef8172;
color:#fff;}


.neeraj{
font-size:3rem;
line-height:1.5;
}

.testimonial-text{font-size:3rem;
line-height:1.5;
}

.testimonial-img{width:10%;
border-radius:100%;
margin:20px;}

#press{background-color:#ef8172;
text-align:center;
padding-bottom:3%;}

.press-logo{width:15%;}

#pricing{padding:100px;
text-align:center;
background-color:#fff;}

.pricing-section{padding:3% 2%;}

.nav-link{margin:30px 20px;}

h3{font-size:3rem;}

#end{text-align:center;
padding:7% 15%;
background-color:#ff4c68;



color:#fff;}

.end-heading{
font-family:"montserret-black";
font-size:3.5rem;
line-height:1.5;
}

#footer{text-align:center;
margin:30px 0;
padding:70px;

background-color:}

.icon{margin:15px;
color:black;}



@media (max-width:1028px){

#title{text-align:center;}
 .iphone{position:static;
transform:rotate(0);}
}
